@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../assets/pokemon-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container .pokemon-card-slider {
  position: absolute;
  top: 10%;
  width: 150px;
  height: 210px;
  left: calc(50% - 75px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: all 0.3s ease;
  animation: autoRun 20s linear infinite;

  z-index: 3;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.container .pokemon-card-slider .pokemon-card-item {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(500px);

  transition: 0.3s;
}

.container .pokemon-card-slider .pokemon-card-item.none {
  display: none;
}

.container .pokemon-card-slider .pokemon-card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  z-index: 1;
}

.pokemon-logo {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.pokemon-logo img {
  width: 400px;
  opacity: 0.6;
}

.container .content .author {
  position: absolute;
  bottom: 70px;
  right: 0px;
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
}

.container .content h2 {
  font-size: 30px;
  margin: 0;
}

.container .content p {
  margin: 0;
}

.container .model {
  background-image: url(../assets/ash.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
  opacity: 0.6;
}

.container .logo-container {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1000;
}

.container .banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.container .banner.active {
  display: flex;
}

.container .banner .banner-content {
  background: white;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  width: 500px;
  position: fixed;
  border-radius: 10px;
  font-family: Poppins;
}

.container .banner .banner-content img {
  width: 200px;
  position: absolute;
  top: -200px;
  left: calc(50% - 100px);
}

.container .banner .banner-content h1 {
  margin-top: 15px;
}

.container .banner .banner-content span {
  position: absolute;
  right: 10px;
  top: -8px;
  font-size: 50px;
  z-index: 10;
}

.container .banner .banner-content p {
  text-align: justify;
  font-size: 18px;
  margin-top: 12px;
}

.container .banner .top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container .banner .top-left img {
  width: 500px;
  opacity: 0.5;
}

.container .banner .bottom-right {
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: 2;
}

.container .banner .bottom-right img {
  width: 500px;
  z-index: 2;
  opacity: 0.5;
}

.container .banner .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container .banner .bottom-left img {
  width: 500px;
  opacity: 0.5;
}

.container .banner .top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.container .banner .top-right img {
  width: 450px;
  z-index: -1;
  opacity: 0.5;
}

.pop-view-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 200;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.pop-view-card.active {
  visibility: visible;
  opacity: 1;
}

.pop-view-card .view-card-img {
  width: 350px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 300;
  transition: 0.3s;
  cursor: pointer !important;
}

.pop-view-card .view-card-img.active {
  transform: rotate(-90deg) rotateY(70deg);
}

.pop-view-card .view-card-img img {
  width: 100%;
  cursor: pointer;
}

.pop-view-card .view-img img {
  position: absolute;
  left: 50%;
  z-index: 300;
  transform: translateX(-50%);
  width: 320px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.pop-view-card .view-img img.active {
  visibility: visible;
  opacity: 0;
  animation: appearPokemon 0.9s ease-out forwards;
}

@keyframes appearPokemon {
  0% {
    top: 120px;
    opacity: 0;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.6;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    top: 50px;
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Styles for tablets (landscape) */
  .container .pokemon-card-slider {
    width: 90px;
    height: 130px;
  }

  .container .pokemon-card-slider .pokemon-card-item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(350px);
  }

  .container .content .author {
    right: 50px;
    bottom: 50px;
  }

  .pop-view-card .view-card-img {
    width: 300px;
  }

  .pop-view-card .view-img img {
    width: 280px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets (portrait) */
  .container .pokemon-card-slider {
    width: 80px;
    height: 110px;
    left: calc(50% - 40px);
  }

  .container .pokemon-card-slider .pokemon-card-item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }

  .container .content .author {
    opacity: 0;
  }

  .container .content .model {
    background-size: auto 100%;
    bottom: -40px;
  }

  .container .logo-container {
    display: block;
    left: 30px;
  }

  .container .logo-container img {
    width: 100px;
  }

  .container .banner .banner-content {
    z-index: 2;
  }

  .container .banner .top-left {
    display: none;
  }

  .container .banner .top-right {
    display: none;
  }

  .container .banner .bottom-left {
    display: none;
  }

  .container .banner .bottom-right {
    display: block;
  }

  .container .banner .bottom-right img {
    width: 1200px;
    opacity: 0.5;
  }

  .pop-view-card .view-card-img {
    width: 280px;
  }

  .pop-view-card .view-img img {
    width: 260px;
  }
}

@media only screen and (min-width: 567px) and (max-width: 767px) {
  /* Styles for larger mobile devices */
  .container .pokemon-card-slider {
    width: 90px;
    height: 120px;
    left: calc(50% - 40px);
    top: 10%;
  }

  .container .pokemon-card-slider .pokemon-card-item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(290px);
  }

  .container .content .author {
    display: none;
  }

  .container .content .model {
    background-size: auto 90%;
    bottom: -40px;
  }

  .container .logo-container {
    display: block;
    left: 30px;
  }

  .container .banner .banner-content {
    width: 70%;
    z-index: 2;
  }

  .container .banner .banner-content p {
    font-size: 18px;
    line-height: 30px;
  }

  .container .logo-container img {
    width: 80px;
  }

  .container .banner .top-left {
    display: none;
  }

  .container .banner .top-right {
    display: block;
    opacity: 0.5;
    z-index: 1;
  }

  .container .banner .bottom-left {
    display: block;
    opacity: 0.5;
  }

  .container .banner .bottom-right {
    display: none;
  }

  .pop-view-card .view-card-img {
    width: 260px;
  }

  .pop-view-card .view-img img {
    width: 240px;
  }
}

@media only screen and (max-width: 565px) {
  /* Styles for small mobile devices */

  .container .pokemon-card-slider {
    width: 80px;
    height: 110px;
    left: calc(50% - 40px);
    top: 30%;
  }

  .container .pokemon-card-slider .pokemon-card-item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(205px);
  }

  .container .content .author {
    display: none;
  }

  .container .content .pokemon-logo img {
    width: 250px;
  }

  .container .model {
    background-size: auto 70%;
    bottom: -170px;
    left: 0;
  }

  .container .logo-container {
    display: block;
  }

  .container .logo-container img {
    width: 80px;
  }

  .container .banner .banner-content {
    width: 75%;
    height: 50%;
    z-index: 2;
  }

  .container .banner .banner-content h1 {
    font-size: 30px;
  }

  .container .banner .banner-content span {
    font-size: 40px;
  }

  .container .banner .banner-content p {
    font-size: 12px;
    line-height: 28px;
  }

  .container .banner .top-left img {
    width: 700px;
    height: 800px;
    z-index: 1;
    opacity: 0.5;
  }

  .container .banner .top-right {
    display: none;
  }

  .container .banner .bottom-left {
    display: none;
  }

  .container .banner .bottom-right {
    display: none;
  }

  .pop-view-card .view-card-img {
    width: 240px;
  }

  .pop-view-card .view-img img {
    width: 230px;
  }

  @keyframes appearPokemon {
    0% {
      top: 150px;
      opacity: 0;
    }

    25% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.6;
    }

    75% {
      opacity: 0.8;
    }

    100% {
      top: 50px;
      opacity: 1;
    }
  }
}

/* Landscape Media  */
@media only screen and (max-width: 875px) and (min-height: 1200px) {
  .container .pokemon-card-slider {
    top: 20%;
    height: 250px;
    width: 180px;
    left: calc(50% - 125px);
  }

  .container .pokemon-card-slider .pokemon-card-item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(500px);
  }

  .container .model {
    width: 100%;
    height: 50%;
  }

  .pop-view-card .view-card-img {
    width: 500px;
  }

  .pop-view-card .view-img img {
    width: 500px;
  }

  @keyframes appearPokemon {
    0% {
      top: 480px;
      opacity: 0;
    }

    25% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.6;
    }

    75% {
      opacity: 0.8;
    }

    100% {
      top: 300px;
      opacity: 1;
    }
  }
}
